* {
    padding: 0px;
    margin: 0px;
}
.cover_img {
    background-image: url("Colombia.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} 

.intro{
    padding: 40px 60px 40px 60px;
    
}
h1{
    font-family: 'Merienda', cursive;
    color:whitesmoke;
    font-size: 45px;
    text-align: left;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:black;
}

#who:hover, #style:hover, #politics:hover, #story:hover {
    cursor: pointer;
}