* {
    padding: 0px;
    margin: 0px;
}
.cover_img {
    background-image: url("Colombia.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} 

.intro{
    padding: 20px 60px 20px 60px;
    background-color: black;
    color:whitesmoke;
}
h1{
    font-family: 'Merienda', cursive;
    font-size: 70px;
}
